body {
  background: url("../img/weather.jpg") no-repeat;
  background-size: cover;
  margin: 0px;
  font-family: Arimo, Helvetica, Arial, sans-serif; }

.center {
  max-width: 1200px;
  margin: auto; }

.cap {
  text-align: center; }

.wraper {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto; }
  .wraper input {
    background: #ffffff;
    color: black;
    border-radius: 10px;
    margin-top: 10px; }

.btn {
  width: 100%;
  text-align: center;
  color: black;
  background: #228fd1;
  margin-top: 10px;
  padding-top: 5px;
  border-radius: 10px;
  padding-bottom: 5px;
  transition: 1s all;
  cursor: pointer; }
  .btn:hover {
    background: #a5dafa; }

.days {
  max-width: 425px;
  margin: auto;
  display: flex; }

.day {
  width: 34px;
  text-align: center;
  background: #228fd1;
  margin-top: 10px;
  padding-top: 5px;
  border-radius: 10px;
  padding-bottom: 5px;
  transition: 1s all;
  cursor: pointer;
  margin-left: 5px; }
  .day:hover {
    background: #a5dafa; }

.weather {
  max-width: 600px;
  margin: auto;
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  flex-wrap: wrap; }

.template {
  display: none; }

.item {
  flex: 0 130px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: rgba(255, 255, 255, 0.5);
  width: 250px;
  margin-left: 13px;
  margin-top: 5px; }

.wraperMap {
  max-width: 600px;
  margin: auto;
  height: 500px;
  margin-top: 20px; }
  .wraperMap #map {
    max-width: 600px;
    height: 500px; }

@media screen and (orientation: portrait) {
  .weather {
    flex-direction: column; }
  .item {
    margin-left: 0px;
    width: 100%; } }

.icons {
  width: 55px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .icons img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
    padding: 10px; }
